@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--lato)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--playfair-display);
}

@layer base {
  :root {
    --primary: 226 41% 23%;
    --secondary: 0 0% 0%;
    --white: 180 100% 100%;
    --accent: 37 44% 68%;
    --destructive: 0 65% 51%;
    --gris-claire: 0 0% 69%;
    --gris-moyen: 0 0% 50%;
    --gris-fonce: 0 0% 30%;
    --success: 120 100% 35%;

    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 0 0% 100%;
    --muted: var(--gris-claire);
    --muted-foreground: var(--gris-fonce);
    --accent-foreground: 0 0% 100%;
    --destructive-foreground: 0 0% 100%;
    --border: var(--gris-claire);
    --input: var(--gris-claire);
    --ring: var(--primary);
    --radius: 0.5rem;
  }

  .dark {
    --background: var(--gris-fonce);
    --foreground: var(--white);
    --card: var(--gris-fonce);
    --card-foreground: var(--white);
    --popover: var(--gris-fonce);
    --popover-foreground: var(--white);
    --primary: 226 41% 23%;
    --primary-foreground: var(--white);
    --secondary: var(--gris-moyen);
    --secondary-foreground: var(--white);
    --muted: var(--gris-moyen);
    --muted-foreground: var(--gris-claire);
    --accent: 37 44% 68%;
    --accent-foreground: var(--white);
    --destructive: 0 65% 51%;
    --destructive-foreground: var(--white);
    --border: var(--gris-moyen);
    --input: var(--gris-moyen);
    --ring: var(--primary);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
